# **_Machine Learning Model Training_**

In [2]:
import os
import pandas as pd
from sklearn import model_selection
import matplotlib.pyplot as plt

## **_Data Loading_**

In [5]:
df = pd.read_csv('../data/happiness_clean_data.csv')

In [6]:
df.head()

,country,happiness_score,gdp_per_capita,social_support,life_expectancy,freedom,corruption,generosity
0,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

## **_Data Splitting_**

In [ ]:
X = df.drop('happiness_score', axis=1)
y = df['happiness_score']