In [8]:
import json
from sqlalchemy import create_engine
import pandas as pd
from sklearn.metrics import r2_score

In [9]:
with open("../credentials.json", "r", encoding = "utf-8") as f:
    credentials = json.load(f)

db_host = credentials["host"]
db_name = credentials["dbname"]
db_user = credentials["user"]
db_password = credentials["password"]

db_engine = create_engine(f"postgresql://{db_user}:{db_password}@{db_host}:5432/{db_name}")

In [10]:
query = "SELECT * FROM predictions;"
df_ml = pd.read_sql(query, db_engine)
df_ml.head()

,gdp_per_capita,social_support,life_expectancy,freedom,corruption,region,y_real,y_pred
0,1.222556,0.967983,0.701289,0.255772,0.043103,Central and Eastern Europe,5.293,5.654884
1,0.562000,0.928000,0.723000,0.527000,0.143000,Southern Asia,4.456,4.636953
2,0.350000,0.517000,0.361000,0.000000,0.025000,Southern Asia,3.203,3.471547
3,1.034000,1.441000,0.963000,0.558000,0.093000,Latin America and Caribbean,7.167,6.485261
4,1.290980,1.076170,0.875300,0.397400,0.081290,Eastern Asia,6.298,6.288126

In [11]:
r_squared = r2_score(df_ml['y_real'], df_ml['y_pred'])
print(f"R²: {r_squared:.4f}")

R²: 0.8566